body,html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#app {
	width: 100%;
	height: 100%;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
	overflow: hidden;
}

/* 橙色背景按钮 */
/* .orange-bg-btn{
	color: #F74800;
	font-weight: bold;
	padding:0px 5px;
	height: 18px;
	background-color: #FFCCA9;
} */

